@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --tw-scrollbar-track: #1e293b; /* Fondo oscuro */
    --tw-scrollbar-thumb: #475569; /* Gris medio */
    --tw-scrollbar-thumb-hover: #fbbf24; /* Amarillo (hover) */
  }
  